<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" name="firstName" /></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" name="lastName"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select name="province">
                    <option th:each="p: ${dstinh}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td>
                <input type="file" name="avatar">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>